footer {
  /*border-top: 1px solid #e6e6e6;*/

  text-align: center;
  color: #ccc;
  font-size: .875em;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #dbdbdb;
}
.footer-email {
  margin: 2px 0;
}
.footer-links {
  margin: 1em 0;
}
.f-link {
  margin: .25em 0;
}
.bottom-fire {
  line-height: 0;
}
.fire {
  fill:#BE2126;
}
.footer-content {
  padding: 0 2em 1.5em;
  background: #be2126;
  background: -webkit-gradient(linear, left top, left bottom, from(#be2126), color-stop(#b71f24), color-stop(#a71e23), color-stop(#8c191f), color-stop(#6f171c), color-stop(#4e0c10), to(#37080b));
  background: -webkit-linear-gradient(#be2126, #b71f24, #a71e23, #8c191f, #6f171c, #4e0c10, #37080b);
  background: -o-linear-gradient(#be2126, #b71f24, #a71e23, #8c191f, #6f171c, #4e0c10, #37080b);
  background: linear-gradient(#be2126, #b71f24, #a71e23, #8c191f, #6f171c, #4e0c10, #37080b);
}
@media screen and (min-width: 700px) {
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .f-link {
    border-right: 1px solid #ccc;
    padding: 0 .5em;
  }
  .f-link:last-child {
    border-right: 0px solid #ccc;
  }
}
