.text {
  margin: 2em 0;
}
.form-part {
  margin: 20px 0;
}
.form-part h3 {
  font-size: 1.125em;
  margin-bottom: .5em;
}
.choose {
  display: block;
  padding: 10px 0;

}
#fileToUpload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1em;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 7px 10px 5px;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label svg {
    width: .875em;
    height: .875em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.5em;
}

.inputfile + label {
  color: #be2126;
  color: #444;
  border: 1px solid #be2126;
  text-transform: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
  background-color: #be2126;
  color: #fff;
}
#text-area-wrap {
  position: relative;
  background-color: white;
}

#text-area {
  position: relative;
  z-index: 1;
  background-color: transparent;
  /* When set background-color: transparent - Firefox  displays
  unpleasant textarea border. Set border style to fix it.*/
  border: 1px solid #a5a5a5;
}

#placeholder {
  position: absolute;
  top: 0;
  padding: 4px;
  color: #a5a5a5;
}


.pmt {
  padding: .25em 0;
}
.important {
  font-size: 1.125em;
  font-weight: 700;
}



@media screen and (min-width: 600px) {
  .text {
    margin: 4em 0;
  }
  .text:first-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 900px) {

}
