/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
  background: linear-gradient(#ffffff, hsla(358, 71%, 44%, 0.00), hsla(358, 70%, 44%, 0.05), hsla(358, 70%, 44%, 0.08), hsla(358, 70%, 44%, 0.09), hsla(358, 71%, 44%, 0.12), hsla(358, 70%, 44%, 0.15), hsla(358, 70%, 44%, 0.18), hsla(358, 70%, 44%, 0.20), hsla(358, 70%, 44%, 0.22), hsla(358, 70%, 44%, 0.22));
  background: #bf222614;
  background: #fff;
  min-height: 100vh;
  display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  padding: 2em;
  -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
    width: 100%;
}

.summary-content p {
  padding: 10px 0 16px;
  margin: 0;
}
.main-area {
  max-width: 1440px;
  margin: 0 auto;
}
.home .main-area {
  max-width: 1200px;
}
@media screen and (min-width: 1200px) {
  .content {
    padding: 1em 5em;
    /*max-width: 1080px;*/
    margin: 0 auto;
  }
}
span.break {


  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
