/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

.masthead {
    /*background: #fff;*/
    /*border-top: 5px solid #be2126;*/
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

@media screen and (min-width: 50em) {
    .masthead {

    }
}
.site-branding {
  margin: 1em 0;
}
.logo {
  width: 90%;
  max-width: 380px;
  margin: 0 auto;
}
.site-title {
  margin: 0;
  padding:.2em .5em;
  font-size: 1.375em;
  color: #333;
  line-height: 1.25;
}

.site-title a {
  color: hsl(0, 0%, 20%);
  text-decoration: none;
}

.site-title a:hover {
  text-decoration: underline;
}
