.warning {
  font-size: 1.25em;
  font-weight: 700;
  color: #be2126;
}
.parameters {
  font-size: 1.25em;
}
.bold {
  font-weight: 700;
}
.identifier {
  color: #be2126;
}
#results {
  margin-top: 3em;
}
.subtitle {
  font-size: 1.35em;
  padding: 35px 0 16px;
  margin-bottom: 0;
  margin-top: 1em;
  border-top: 1px solid #c6c6c6;
}
/*.subtitle:first-child {
  padding-top: 0;
  border-top: none;
}*/
.subtitle > a {
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.subtitle.open a {
    color: #000;
}
#run-log-title {
  display: none;
}
.collapse-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 15px;
  width: 18px;
  height: 18px;
  position: relative;
  font-size: 18px;
}
.collapse-icon .fa {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: opacity .15s ease-out;
  -o-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}
.collapse-icon .fa-plus {
  opacity: 1;
}
.collapse-icon .fa-minus {
  opacity: 0;
}
.open .collapse-icon .fa-plus {
  opacity: 0;
}
.open .collapse-icon .fa-minus {
  opacity: 1;
}
.search-results pre {
  overflow: auto;
  max-height: 500px;
}

#results pre {
  max-height: 500px;
  overflow: auto;
}
#download-result p {
  margin-bottom: 0;
}
#plots-content {
  padding: 20px;
}
#plot-names h3 {
  margin-bottom: .375em;
}
.plot-link {
  margin-bottom: 5px;
}
.plot-link a {
  display: inline-block;
  padding: 2px 0;
  -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
.plot-link a:hover {
  background: hsla(358, 70%, 44%, 0.06);
  padding: 2px;
}
.plot-link a.swap.active {
  background: #be2126;
  color: #fff;
  padding: 3px;
}
.plot-result {
  /*background: #fafafa;*/
  padding: 30px 20px;
}
.plot-result #plot-2,
.plot-result #plot-3,
.plot-result #plot-4,
.plot-result #plot-5,
.plot-result #plot-6,
.plot-result #plot-7,
.plot-result #plot-8,
.plot-result #plot-9,
.plot-result #plot-10,
.plot-result #plot-11,
.plot-result #plot-12,
.plot-result #plot-13,
.plot-result #plot-14,
.plot-result #plot-15,
.plot-result #plot-16,
.plot-result #plot-17,
.plot-result #plot-18,
.plot-result #plot-19,
.plot-result #plot-20,
.plot-result #plot-21,
.plot-result #plot-22 {
  display: none;
}


.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #be2126;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 75px auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (min-width: 600px) {

}
@media screen and (min-width: 1000px) {
  #plots-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #plot-names {
    width: 30%;
  }
  .plot-result {
    padding: 20px;
    width: 65%;
    margin-left: 5%;
  }
}
