<div id="tabs">
  <ul id="tabsUL" style="display:none">
    <li><a href="#summary">Results Summary</a></li>
    <li><a href="#downloads">Download results</a></li>
    <li><a href="#plots">Plots</a></li>
    <li><a href="#runLog">Run Log</a></li>
  </ul>
  
