body {
  margin: 0 auto;
  width: 90%; 
  padding: 5px;
  background-color: #eee;
}

body, input, textarea, select {
  font-family: 'Lato',sans-serif;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.75em;
  /*color: #777;*/
  color: #000;
}

table, th, td {
   border: 1px solid black;
   padding: 3px;
   border-collapse: collapse;
}

th {
    background-color: blue;
    color: white;
}


a
	{
		text-decoration: none;
		color: #80BA8E;
	}

a:link
	{
		text-decoration: none;
		color: #80BA8E;
	}


a:visited
	{
		text-decoration: none;
		color: #80BA8E;
	}


	
a:hover
	{
		text-decoration: underline;
	}

.mylink {
       color: #80BA8E;
     }

.no {
  border: 0px;
}

.nob, .nob tr, .nob th, .nob td {
   border: 0px
}

.news {
  height: 160px;
  overflow-y: auto;
}

th.rotate {
	height: 150px;
	padding: 0px;
	/*width: 20px !important;*/
	font-weight: normal;
    background-color: #eee;
	
}

div.vertical
{
 /*margin-left: -85px;*/
 position: absolute;
 width: 115px;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg); /* Safari/Chrome */
 -moz-transform: rotate(-45deg); /* Firefox */
 -o-transform: rotate(-45deg); /* Opera */
 -ms-transform: rotate(-45deg); /* IE 9 */
}

th.vertical
{
 height: 120px;
 line-height: 14px;
 padding-bottom: 5px;
 text-align: left;
 background-color: #fff;
 border: none; /*0px solid #eee;*/
 border-bottom: 0px solid black;
 border-top: none;
 color: #777;
}


.rotate{

-moz-transform: rotate(-90.0deg);  /* FF3.5+ */
      -ms-transform: rotate(-90.0deg);  /* IE9+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-45.0deg);  /* Safari 3.1+, Chrome */
          transform: rotate(-90.0deg);  /* Standard */

}


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
    .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
     .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
      }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
        border: 1px solid #ccc; /* new */
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
    .tab {
            display:none;
     }
 
     .tab.active {
            display:block;
     }

div.holder{
  /*float:left;*/
  border:1px solid gray;
  /*display:inline-block;*/
  display:block;
  padding:10px;
  margin:10px auto 0px;
  background:#dddddd;
  /*position:relative;*/
  text-align:left;
  -moz-border-radius:10px;
  border-radius:10px;
  /*width:920px;*/
}

/*.hover_img:hover 
  height : 600px;
}*/

/*.hover_img { position : absolute; }*/
/*.hover_img a { position:relative; }*/
/*.hover_img a span { position:absolute ; display:none; z-index:99; }*/
/*.hover_img a span { position:fixed; top: 100; right:10%;display:none; z-index:99; }*/
.hover_img a span { position:absolute; top: 20%; left: 45%; display:none; z-index:99; }
/*.hover_img a:hover span { display:block; }*/
.hover_img:hover a span { display:inline-block; }

.alnright { text-align: right; }

a>div { display : none; }
a:hover>div { display : inline; }

a[href^="http://"]:after, 
a[href^="https://"]:after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 5px;
}
