.pipeline {
  max-width: 450px;
  margin: 0 auto;
}
.note {
  font-style: italic;
}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 1000px) {
  .flex {
    display: flex;
  }
  .item-1 {
    min-width: 500px;
    width: 40%;
  }
  .item-2 {
    width: 60%;
    padding-left: 20px;
  }
}
/*Documantation*/
.comment {
	color: #999;
  font-style: italic;
}
.nb, .m {
  color: #737944;
}
.se {
  color: #b84;
}
.documentation-table th, .documentation-table td {
  padding: 7px 7px 4px;
}
/*Download*/
.download {
  font-size: 1.25em;
  line-height: 2;
}
