html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}
a {
  color: #be2126;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
a:active,
a:hover {
	color: #931f28;
}

/*:focus {
  outline: #ccc auto 5px;
}*/
.center {
  text-align: center;
}
input {
  max-width: 100%;
}
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #be2126;
	border-radius: 0px;
	background: #be2126;
	color: #fff;
	font-size: .875em;
	line-height: 1;
	padding: 10px 10px 8px;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  text-transform: uppercase;
}
.button:hover,
.button:focus,
button:hover,
button:active,
button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus {
	border-color: #931f28;
	background: #931f28;
  color: #fff;

}

input[type="file"] {

}
ol {
  padding-left: 1.25em;
}ul {
  padding-left: 2em;
}

table {
  border: 1px solid #ddd;
  width: 100%;
  overflow: auto;
}
th, td {
  border: 1px solid #ddd;
  padding: 3px 3px 1px;
}

th {
  background-color: #5d5c5c;
  color: #fff;
  font-weight: normal;
}
.block {
  display: block;
}
/*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  background-color: rgba(75, 88, 92, 0.2);
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgba(75, 88, 92, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/
p + ul, p + ol {
  margin-top: -1em;
}
