/*--------------------------------------------------------------
Images - reset
--------------------------------------------------------------*/

img {
  display: block;
  max-width: 100%;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

figure {
  margin: 0;
  padding: 0;
}
figure img {
  -webkit-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}
figcaption {
  text-align: center;
  margin-top: 2em;
  margin-bottom: .5em;
  font-size: 1em;
  font-weight: 600;
  color: #666;
  letter-spacing: .5px;
}
/*figure img:hover,
figure img:focus {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}*/
