/*--------------------------------------------------------------
Main Navigation
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	display: block;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin-left: 0;
}

.main-navigation li {
	position: relative;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.8em;
}

.main-navigation a {
	position: relative;
	display: block;
	padding: 0.8em 1em;
	text-decoration: none;
	line-height: 1.6em;
	color: white;
	/*letter-spacing: 1px;*/
	text-transform: uppercase;
}

.main-navigation a:hover,
.main-navigation a:focus {
	background: #fff;
	color: #000;
}

.main-navigation a,
.main-navigation ul ul li:lastchild a {
	border-bottom: 1px solid white;
}

.main-navigation ul li:last-child a {
	border-bottom: none;
}

.main-navigation ul .toggled-on {
	display: block;
}


.main-navigation .current-menu-item > a{
	font-weight: 700;
}

.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
	border-top: 0;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a{
	padding-right: 48px;
}

.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle {
	position: absolute;
	height: 27px;
	width: 27px;
	top: 12px;
	right: 6px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
	background-color: inherit;
	border: 1px solid #fff;
	content: "";
	color: #fff;
	text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */
}

.dropdown-toggle::after {
	content: "+";
	font-size: 16px;
	font-weight: bold;
	line-height: 27px;
	position: relative;
	top: 0;
	width: 27px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: #fff;
	color: #000;
}

.dropdown-toggle.toggle-on:after {
	content: "-";
}

.main-navigation a:hover ~ .dropdown-toggle,
.main-navigation a:focus ~ .dropdown-toggle {
    color: hsl(0, 0%, 20%);
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	position: fixed;
	z-index: 100;
	bottom: 2em;
	left: 1em;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #000;
	color: #be2126;
	border: solid 2px #fff;
	-webkit-transition: all ease-out .2s;
	-o-transition: all ease-out .2s;
	transition: all ease-out .2s;
	padding: 0.35em .75em .25em;
}


.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #be2126;
    margin: 5px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.menu-toggle.hide {
	bottom: -3em;
}

/* Make sure the button doesn't hide when menu is open. */

.toggled .menu-toggle.hide {
	bottom: 1em;
}

/* Rotate first bar */
.toggled .menu-toggle .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 7px) ;
  -ms-transform: rotate(-45deg) translate(-6px, 7px) ;
	transform: rotate(-45deg) translate(-6px, 7px) ;
}

/* Fade out the second bar */
.toggled .menu-toggle .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.toggled .menu-toggle .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px) ;
  -ms-transform: rotate(45deg) translate(-6px, -7px) ;
  transform: rotate(45deg) translate(-6px, -7px) ;
}



.menu-toggle:hover,
.menu-toggle:focus {
	background: #000;
}

@media screen and (min-width: 50em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

/* Hovering menu */

.main-navigation.toggled {
	position: fixed;
	bottom: 0;
	padding: 1em;
	z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-menu {
	padding: 1em;
	margin-bottom: 3em;
	background-color: #000;
}

.main-navigation.toggled ul {
	max-height: calc(100vh - 8em);
	overflow-y: auto;
}

.main-navigation.toggled ul ul {
	display: none;
}

.main-navigation.toggled ul ul.toggled-on,
.main-navigation.toggled ul ul.toggled-on > ul {
	display: block;
}

/* Horizontal menu on wide screens */
@media screen and (min-width: 50em) {

	/* Position the menu in the header */
	.main-navigation,
	.main-navigation.toggled {
		position: relative;
    margin: 0 .5em;
    padding: 0;
    width: auto;
	}

	.nav-menu {
		padding: .3em 0 0 0;
		background-color: transparent;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
		-webkit-box-pack: center;
		  -ms-flex-pack: center;
		    justify-content: center;
		margin: 0;
		padding: .5em 0;
	}

	/* Display the menu items in a horizontal order */
	.main-navigation li {
		border: none;
	}

	/* Add an outline to the drop-down menus */
	.main-navigation ul ul {

	}

	/* Left-align drop-down menu items */
	.main-navigation li li {
		display: block;
		text-align: left;
	}

    .main-navigation a,
    .dropdown-toggle {
      color: hsl(0, 0%, 20%);
    }

	.main-navigation a,
	.main-navigation ul ul li:last-child a {
		border-bottom: none;
	}

	/* Add an outline on hovered and focused menu items */
	.main-navigation a:hover,
	.main-navigation a:focus {
		background: transparent;
		color: #931f28;

	}
	.main-navigation li.active a {
		color: #be2126;

	}
  .main-navigation li li a {
    color: hsl(0, 0%, 90%);
  }

	/* Create hover and focus contrast on drop-down items */
	.main-navigation li li a:hover,
	.main-navigation li li a:focus {
		background: #eee;
		color: #000;
		text-decoration: none;
	}

	/* Position drop-down menus absolutely */
	.main-navigation ul ul.toggled-on {
		position: absolute;
		width: 12em;
		display: block;
		z-index: 10;
		margin-left: 0;
    padding: 0;
		background: #000;
	}

	.main-navigation ul ul ul.toggled-on {
		position: relative;
	}

	/* Indent 3rd level drop-down menus */
	.main-navigation ul ul ul a {
		padding-left: 2em;
	}

	/* Simplify the drop-down toggle */
	.dropdown-toggle {
		top: 13px;
		right: 12px;
		border: none;
	}

    .dropdown-toggle:hover, .dropdown-toggle:focus {
      background-color: inherit;
      outline: solid 1px #b3b3b3;
    }

	.dropdown-toggle::after {
		line-height: 27px;
		width: 27px;
	}

}
