.warning {
  font-size: 1.25em;
  font-weight: 700;
  color: #be2126;
}
.parameters {
  font-size: 1.25em;
}
.bold {
  font-weight: 700;
}
.identifier {
  color: #be2126;
}
#plots-content {
  padding: 20px;
}
#plot-names h3 {
  margin-bottom: .375em;
}
.plot-link {
  margin-bottom: 5px;
}
.plot-link a {
  display: inline-block;
  padding: 2px 0;
  -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
.plot-link a:hover {
  background: hsla(358, 70%, 44%, 0.06);
  padding: 2px;
}
.plot-link a.swap.active {
  background: #be2126;
  color: #fff;
  padding: 3px;
}
.plot-result {
  background: #f9f9f9;
}
.plot-result #plot-2,
.plot-result #plot-3,
.plot-result #plot-4,
.plot-result #plot-5,
.plot-result #plot-6,
.plot-result #plot-7,
.plot-result #plot-8,
.plot-result #plot-9,
.plot-result #plot-10,
.plot-result #plot-11,
.plot-result #plot-12,
.plot-result #plot-13,
.plot-result #plot-14,
.plot-result #plot-15,
.plot-result #plot-16,
.plot-result #plot-17,
.plot-result #plot-18,
.plot-result #plot-19,
.plot-result #plot-20,
.plot-result #plot-21,
.plot-result #plot-22 {
  display: none;
}


@media screen and (min-width: 600px) {

}
@media screen and (min-width: 1000px) {
  #plots-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #plot-names {
    width: 30%;
  }
  .plot-result {
    padding: 20px;
    width: 65%;
    margin-left: 5%;
  }
}
