/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Quattrocento+Sans:400,400i,700|Quattrocento:400,700');

body,
button,
input,
select,
textarea {
	color: #444;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
footer,
.site-title {
	font-family: 'Quattrocento', serif;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-family: 'Quattrocento', serif;
	font-weight: 700;
	clear: both;
}
p {
	font-size: 1em;
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #fff6f6;
	font-family: 'Inconsolata', monospace;
	font-size: .875em;
	line-height: 1.5;
	margin-bottom: 1em;
	max-width: 100%;
	overflow: auto;
	padding: 1.2em;
}


code,
kbd,
tt,
var {
	font: 15px "Inconsolata", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

h1 {
	text-align: center;
	padding: 20px 0;
  color: #000;
	font-size: 1.75em;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.2;
	margin-bottom: 1.2em;
	text-align: center;
	text-transform: uppercase;

}

h3 {
	font-size: 1.35em;
	line-height: 1.15;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1;
	margin-bottom: .75em;
}
table {
	font-family: 'Inconsolata', monospace;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: .875em;
	font-style: normal;
	font-weight: 400;
}
.main-navigation {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1em;
}

@media screen and (min-width: 1300px) {
	body,
	button,
	input,
	select,
	textarea {
		font-size: 16px;
	}
}
