<h3>segmentation</h3>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Length_Distribution_of_RPM_of_segmented_loci.png">Length distribution of rpm of segmented loci<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Length_Distribution_of_RPM_of_segmented_loci.png" width="400"></span></a>
</div>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Genomic_length_distribution_of_identified_small_RNA_loci.png">Genomic length distribution of identified small rna loci<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Genomic_length_distribution_of_identified_small_RNA_loci.png" width="400"></span></a>
</div>
<h3>lengthexpression</h3>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/RPM_distribution_of_identified_small_RNA_loci.png">Rpm distribution of identified small rna loci<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/RPM_distribution_of_identified_small_RNA_loci.png" width="400"></span></a>
</div>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Percentile_distribution_of_identified_small_RNA_loci_across_different_lengths.png">Percentile distribution of identified small rna loci across different lengths<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Percentile_distribution_of_identified_small_RNA_loci_across_different_lengths.png" width="400"></span></a>
</div>
<h3>processing</h3>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/5p_end_positional_offset_between_identified_loci_and_small_RNA_gene.png">5p end positional offset between identified loci and small rna gene<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/5p_end_positional_offset_between_identified_loci_and_small_RNA_gene.png" width="400"></span></a>
</div>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Processing_specificity_at_5p_end_of_identified_small_RNA_loci.png">Processing specificity at 5p end of identified small rna loci<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Processing_specificity_at_5p_end_of_identified_small_RNA_loci.png" width="400"></span></a>
</div>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Read_pipeup_at_5p_end_of_identified_small_RNA_loci.png">Read pipeup at 5p end of identified small rna loci<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Read_pipeup_at_5p_end_of_identified_small_RNA_loci.png" width="400"></span></a>
</div>
<h3>genomewide</h3>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Proportion_of_expressed_annotated_small_RNA_genes.png">Proportion of expressed annotated small rna genes<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Proportion_of_expressed_annotated_small_RNA_genes.png" width="400"></span></a>
</div>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Genomewide_distribution_patterns_of_small_RNA_loci.png">Genomewide distribution patterns of small rna loci<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Genomewide_distribution_patterns_of_small_RNA_loci.png" width="400"></span></a>
</div>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Circular_genome_data_visualization.png">Circular genome data visualization<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Circular_genome_data_visualization.png" width="400"></span></a>
</div>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Genomewide_distribution_of_expressed_small_RNA_loci.png">Genomewide distribution of expressed small rna loci<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Genomewide_distribution_of_expressed_small_RNA_loci.png" width="400"></span></a>
</div>
<div class="hover_img">
<a href="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Proportion_of_mapped_reads_across_all_loci.png">Proportion of mapped reads across all loci<span><img src="http://tesla.pcbi.upenn.edu/~pkuksa/SPAR/SPAR_out/a2f6730/figures/Proportion_of_mapped_reads_across_all_loci.png" width="400"></span></a>
</div>
